.contact-page{
  height: 600rem;
  padding: 0;
  .map{
    width: 100%;
    height: 100%;
  }
}
.about-desc{
  .contact{
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      border: 1rem solid  rgba($black, .1);
      border-bottom: 0;
      border-right: 0;
    }
    &-item{
      width: 50%;
      padding: 28rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1rem solid  rgba($black, .1);
      border-right: 1rem solid  rgba($black, .1);
      &__media{
        width: 48rem;
        height: 48rem;
        svg{
          width: 100%;
        }
      }
      &__desc{
        width: calc(100% - 68rem);
        h4{
          line-height: 160%;
        }
        a, p{
          font-size: 16rem;
          line-height: 160%;
          color: rgba($black, .5);
        }
        a{
          &:hover{
            color: $secondary;
          }
        }
      }
      &:hover{
        background-color: $primary;
        color: $white;
        p, a{
          color: $white;
        }
        svg{
          path{
            stroke: $white;
          }
        }
      }
    }
  }
}
.top-form{
  padding: 40rem;
  background-color: $white;
  .title-block{
    margin-bottom: 40rem;
  }
}