.history{
  .text-block{
    max-width:980rem;
    margin: 0 auto 40rem;
    max-height: 578rem;
    overflow: hidden;
    p{
      margin-bottom: 16rem;
    }
    &.active{
      max-height: 100%;
    }
  }
  .section-link{
    max-width:980rem;
    margin: 0 auto;
  }
}
.read-more{
  font: 400 18rem/28rem $OpenSans;
  color: $primary-100;
  background-color: transparent;
  &:hover{
    color: $primary;
  }
}
.symbolics{
  &-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-media{
    width: 278rem;
    img{
      width: 100%;
    }
  }
  &-desc{
    width: 100%;
    max-width: 1010rem;
  }
  &-item{
    margin-bottom: 24rem;
    &:last-child{
      margin-bottom: 0;

    }
    h4{
      display: block;
      margin-bottom: 10rem;
      font: 600 24rem/28rem $OpenSans;
    }
  }
}
.chronicle{
  .text-block{
    margin: 0 auto 40rem;
    max-height: 591rem;
    overflow: hidden;
    &.active{
      max-height: 100%;
    }
  }
}