.hero{
  position: relative;
  padding: 0;
  &-desc{
    top: 90rem;
    right: 228rem;
    position: absolute;
    padding: 32rem 48rem;
    z-index: 4;
    border-radius: 10rem;
    background-color: rgba($primary-200, .4);
    backdrop-filter: blur(4px);
    color: $white;
    max-width: 850rem;
  }
  &-title{
    margin-bottom: 20rem;
    font:700 44rem/120% $PlayfairDisplay;
    span{
      color: $secondary;
    }
  }
  &-text{
    margin-bottom: 30rem;
    font:400 24rem/120% $OpenSans;
  }
  &-btn{
    display: flex;
    gap: 50rem  ;
  }
  &-slider{
    .slick-dots{
      position: absolute;
      bottom: 32rem;
      width: 100%;
      justify-content: center;
    }
    &__media{
      width: 100%;
      height: 768rem;
      position: relative;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
}
.about{
  position: relative;
  background-color: $white-100;
  .text-section{
    margin-bottom: 40rem;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &-desc{
    width: 50%;
    max-width: 652rem;
    p{
      margin-bottom: 24rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    li{
      margin-bottom: 14rem;
      a{
        color: $black;
        &:hover{
          color: $primary;
        }
      }
    }
  }
  &-media{
    width: 50%;
    max-width: 720rem;
    height: 550rem;
    border-radius: 10rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}
.faculties{
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20rem;
    .item{
      width: 100%;
      margin: 0 20rem;
      max-width: calc(33.3333% - 40rem);
    }
  }
}
.admission{
  .subtitle-section{
    margin-bottom: 48rem;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -8rem;
    a{
      display: flex;
      align-items: center;
      img{

      }
      span{
        &:last-child{
          margin-left: 10rem;
        }
      }
    }
  }
  &-direction{
    margin-bottom: 16rem;
    li{
      margin: 0 8rem 16rem;
      width: calc(33.3333% - 16rem);
    }
    a{
      justify-content: center;
      color: $default-100;
      font-size: 24rem;
      line-height: 28rem;
      .icon{
        width: 30rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary;
        border-radius: 50%;
      }
      img{
        width: 22rem;
        height: 22rem;
      }
      &:hover{
        color: $primary;
      }
    }
  }
  &-info{
    li{
      margin: 0 8rem 16rem;
      width: calc(25% - 16rem);
    }
    a{
      font-size: 18rem;
      line-height: 28rem;
      color: $black;
      img{
        width: 30rem;
        height: 30rem;
        object-fit: cover;
      }
      &:hover{
        color: $primary;
      }
    }
  }
}
.gallery{
  &-slider{
    .slide{
      padding: 0 12rem;
      img{
        width: 100%;
        transition: all ease 300ms;
        transform: scale(1);
      }
      a{
        width: 100%;
        overflow: hidden;
        position: relative;
        &:before, &:after{
          position: absolute;
          content: '';
          opacity: 0;
          transition: all ease 300ms;
          z-index: -1;
          visibility: hidden;
        }
        &:before{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2727 5C14.8454 5 12.4726 5.71978 10.4543 7.06832C8.43611 8.41685 6.86309 10.3336 5.93421 12.5761C5.00532 14.8186 4.76228 17.2863 5.23582 19.6669C5.70936 22.0476 6.87822 24.2344 8.59458 25.9507C10.3109 27.6671 12.4977 28.836 14.8784 29.3095C17.259 29.783 19.7267 29.54 21.9692 28.6111C24.2117 27.6822 26.1285 26.1092 27.477 24.091C28.8255 22.0728 29.5453 19.7 29.5453 17.2727C29.5451 14.0178 28.252 10.8963 25.9505 8.59481C23.649 6.29328 20.5275 5.00021 17.2727 5Z' stroke='%23ECD44B' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M26.4287 26.4287L34.9998 34.9998' stroke='%23ECD44B' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M11.5586 17.6182L23.6799 17.6182' stroke='%23ECD44B' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M17.6201 11.5586L17.6201 23.6799' stroke='%23ECD44B' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");          width: 92rem;
          background-position: center;
          background-repeat: no-repeat;
          height: 92rem;
        }
        &:after{
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($primary-200, .4);
        }
        &:hover{
          &:before,
          &:after{
            visibility: visible;
            z-index: 2;
            opacity: 1;
          }
          &:before{
            z-index: 3;
          }
          img{
            transform: scale(1.1);
          }
        }

      }
      a[data-video]::before {
        background-image: url("data:image/svg+xml,%3Csvg width='92' height='92' viewBox='0 0 92 92' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.3504 44.3248L39.0191 26.9998C38.2316 26.4185 36.1316 26.4185 35.9629 28.6123V63.2623C36.1504 65.456 38.2879 65.4935 39.0191 64.8748L64.3504 47.5498C65.0066 47.156 65.9066 45.5435 64.3504 44.3248ZM39.8816 59.5685V32.306L59.7754 45.9373L39.8816 59.5685Z' fill='%23ECD44B'/%3E%3Cpath d='M45.9375 0C20.6062 0 0 20.6062 0 45.9375C0 71.2688 20.6062 91.875 45.9375 91.875C71.2688 91.875 91.875 71.2688 91.875 45.9375C91.875 20.6062 71.2688 0 45.9375 0ZM45.9375 87.9563C22.7625 87.9563 3.91875 69.1125 3.91875 45.9375C3.91875 22.7625 22.7625 3.91875 45.9375 3.91875C69.1125 3.91875 87.9563 22.7625 87.9563 45.9375C87.9563 69.1125 69.1125 87.9563 45.9375 87.9563Z' fill='%23ECD44B'/%3E%3C/svg%3E%0A");      }
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin: 32rem auto 0;
  }
}
.useful-links{
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__media{
    width: 100%;
    max-width: 720rem;
    height: 550rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc{
    width: 100%;
    max-width: 592rem;
    li{
      &:before{
        top: 18rem;
      }
    }
    a{
      color: $black;
      //font-size: 24rem;
      //line-height: 40rem;
      &:hover{
        color: $primary;
      }
    }
  }
}
.resource{
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 40rem;
  }
  &-item{
    width: 100%;
    max-width: calc(25% - 40rem);
    &._mobile{
      display: none;
    }
    a{
      img{
        transition: all ease 300ms;
        width: 100%;
        transform: scale(1);
      }
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
    }
  }
}
.news{
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20rem 32rem;
    .item{
      width: 100%;
      margin: 0 20rem;
      max-width: calc(33.3333% - 40rem);
    }
  }
  .link-section{
    text-align: center;
  }
}
.contact{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-form{
    width: 100%;
    max-width: 592rem;
    .subtitle-section{
      margin-bottom: 40rem;
    }
  }
  &-media{
    width: 100%;
    max-width: 720rem;
    height: 550rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}