@import "./var";
@import "./styles";
@import "./header";
@import "./footer";
@import "./home";
@import "./about";
@import "./history";
@import "./team";
@import "./department";
@import "./study";
@import "./international";
@import "./scientific";
@import "./post";
@import "./calendar";
@import "./contact";


@import "./popup";
@import "./media";