@media screen and (max-width: 768px){
  //[data-asb] {
  //  opacity: 0;
  //  transform: translateY(20px);
  //  transition: opacity 0.1s ease, transform 0.1s ease;
  //}
  .header{
    &-top{
      padding: 10rem 0;
    }
    &-logo{
      width: 85rem;
      margin-right: auto;
    }
    &-nav{
      position: absolute;
      visibility: hidden;
      z-index: -1;
      width: 100%;
      left: 0;
      background-color: $primary-200;
      top: 0;
      transition: all ease 300ms;
      ul{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15rem;
        li{
          margin: 0;
          width: 100%;
          & > a{
            width: 100%;
          }
          &:after{
            top: 14rem !important;
          }
          a{
            padding: 0;
          }
          ul{
            padding: 0 15rem;
            opacity: 1;
            visibility: visible;
            z-index: 2;
            box-shadow: none;
            display: none;
            position: relative;
            background-color: transparent;
            border-top: 0;
            transition: none;
            a{
              color: $white;
              &:hover{
                color: $primary;
              }
            }
            li{
              ul{
                opacity: 1;
                visibility: visible;
                z-index: 2;
                display: none;
                background-color: transparent;
                border-top: 0;
                transition: none;
                padding: 0 15rem;
                position: relative;
                left: 0;
                top: 0;
                a{
                  color: $white;
                  &:hover{
                    color: $primary;
                  }
                }
              }
              &:hover{
                &:after{
                  top: 14rem;
                }
                a{
                  color: $white;
                  &:hover{
                    color: $primary;
                  }
                }
              }
            }
          }
          &:hover{
            ul{
              display: none;
              a{
                color: $white;
                &:hover{
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
    &-bottom__info{
      padding: 6rem 0;
      font-size: 14rem;
      line-height: 24rem;
    }
    &-search{
      margin: 0 0 0;
      .btn-search{
        margin: 0;
      }
    }
    &-lang{
      margin: 0 14rem;
    }
    &-search-form{
      &.active{
        top: 69rem;
      }
    }
    &-btn{
      display: block;
    }
    &.active{
      .header-nav{
        opacity: 1;
        visibility: visible;
        z-index: 2;

        top: 68rem;

      }
    }
  }
  .header-nav ul li ul li:hover ul a{
    color: #fff;
  }
  .hero{
    &-desc{
      padding: 16rem;
      width: 100%;
      left: auto;
      right: 15rem;
      top: 148rem;
      max-width: 346rem;
    }
    &-title{
      font-size: 30rem;
      line-height: 120%;
    }
    &-text{
      font-size: 16rem;
      line-height: 120%;
    }
    &-btn{
      flex-direction: column;
      gap: 12rem;
    }
  }
  .page-content {
    margin-top: 106rem;
  }
  section{
    padding: 40rem 0;
  }
  .title-section{
    font-size: 28rem;
    line-height: 110%;
  }
  .subtitle-section{
    font-size: 16rem;
    line-height: 140%;
  }
  .text-section{
    font-size: 16rem;
    line-height: 140%;
    p, li, a, b, strong{
      font-size: inherit;
      line-height: inherit;
    }
  }
  .btn-secondary, .btn-primary {
    text-align: center;
    padding: 12rem 24rem;
    font-size: 16rem;
    line-height: 24rem;
  }
  .item{
    &-media{
      height: 260rem;
      margin-bottom: 0;
    }
    &-desc{
      padding: 12rem 16rem;
    }
    &-subtitle{
      font-size: 16rem;
      line-height: 24rem;
      min-height: auto;
    }
    &-title{
      font-size: 18rem;
      line-height: 28rem;
      min-height: auto;
    }
  }
  .modal-group{
    margin-bottom: 12rem;
    &._half{
      width: 100%;
    }
  }
  .about{
    .container{ }
    &-desc{
      width: 100%;
      margin-bottom: 32rem;
    }
    &-media{
      width: 100%;
      height: 260rem;
    }
  }
  .faculties{
    &-wrap {
      .item{
        max-width: calc(100% - 20rem  );
        margin-bottom: 40rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .admission{
    &-direction{
      li{
        width: calc(50% - 16rem);
        &:last-child{
          width: calc(100% - 16rem);
        }
        a{
          justify-content: flex-start;
          font-size: 20rem;
        }
      }
    }
    &-info{
      li{
        width: calc(100% - 16rem);
        a{
          font-size: 18rem;
        }
      }
    }
  }
  .gallery{
    &-slider {
      .slide{
        padding: 0 3rem;
      }
    }
  }
  .useful-links{
    .container{
      flex-direction: column-reverse;
    }
    &__desc{
      margin-bottom: 24rem;
    }
    &__media{
      height: 280rem;
    }
  }
  .resource{
    &-wrap{
      flex-wrap: nowrap;
    }
    &-item{
      max-width: auto;
      width: auto;
      a{
        img{
          width: auto;
        }
      }
      &._mobile{
        display: flex;
      }
    }
    .resource-marquee {
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .resource-wrap {
      display: flex;
      gap: 10rem;
      width: max-content;
      animation: marquee 25s linear infinite;
    }

    .resource-item {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .resource-item img {
      height: 30rem;
      width: auto;
      object-fit: contain;
      filter: grayscale(0%);
      transition: filter .3s;
    }

    .resource-item:hover img {
      filter: grayscale(0);
    }

    @keyframes marquee {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
  }
  .news{
    &-wrap{
      .item{
        max-width: calc(100% - 40rem);
        margin-bottom: 40rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .contact{
    .container{
      flex-wrap: wrap;
    }
    &-form{
      width: 100%;
      margin-bottom: 32rem;
      .btn-primary{
        width: 100%;
      }
    }
    &-media{
      width: 100%;
      height: 260rem;
    }
  }
  .footer{
    &-item{
      &__title{
        font-size: 16rem;
        line-height: 24rem;
      }
    }
    &-bottom{
      .container{
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 568px){
  .header{
    &-search-form{
      padding: 10rem 15rem;
    }
    &.active{
      .header{
        &-nav{
          top: 68rem;
        }
      }
    }
  }
  .page-content {
    margin-top: 128rem;
  }
}