// .popup{
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   opacity: 0;
//   z-index: -1;
//   visibility: hidden;
//   display: flex;
//   flex-direction: column;
//   justify-content:center;
//   align-items: center;
//   transition: all ease 300ms;
//   &.active{
//     opacity: 1;
//     z-index: 40;
//     visibility: visible;
//     .popup-overlay{
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }
//   }
//   &-wrap{
//     padding: 30rem;
//     position: relative;
//     z-index: 2;
//     max-width: 640rem;
//     border-radius: 30rem;
//     color: $white;
//     text-align: center;
//     form{
//       label{
//         width: 100%;
//         display: inline-block;
//         margin-bottom: 12rem;
//         input{
//           border-radius:14rem;
//           width: 100%;
//         }
//       }
//       .checkbox-item{
//         margin: 14rem 0 28rem;
//       }
//       button{
//         width: 100%;
//         text-align: center;
//         justify-content: center;
//       }
//     }
//   }
//   &-close{
//     position: absolute;
//     right: 25rem;
//     top: 25rem;
//     cursor: pointer;
//     width: 30rem;
//     height: 30rem;
//     &:before, &:after{
//       position: absolute;
//       content: '';
//       top: 50%;
//       left: 0;
//       width: 100%;
//       height: 2rem;
//     }
//     &:before{
//       transform: rotate(45deg);
//     }
//     &:after{
//       transform: rotate(-45deg);
//     }
//     &:hover{
//       &:before, &:after{
//       } 
//     }
//   }
//   &-overlay{
//     position: absolute;
//     width: 80%;
//     height: 80%;
//     top: 10%;
//     right: 10%;
//     left: 10%;
//     bottom: 10%;
//     z-index: 1;
//     backdrop-filter: blur(2rem);
//     background-color:rgba($black, .8);
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
//     transition: all ease 300ms;
//   }
//   &-title{
//     text-align: left;
//     margin-bottom: 16rem;
//     padding-right: 30rem;
    
//   }
//   &-subtitle{
//     text-align: left;
    
//     font: 400 18rem/155.556% $Onest;
//     opacity: 0.7;
//     margin-bottom: 20rem;
//   }
// }

