 .popup{
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 0;
   z-index: -1;
   visibility: hidden;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   transition: all ease 300ms;
   &.active{
     opacity: 1;
     z-index: 40;
     visibility: visible;
     .popup-overlay{
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
     }
   }
   &-wrap{
     padding: 24rem;
     position: relative;
     z-index: 2;
     width: 100%;
     max-width: 768rem;
     border-radius: 0;
      background-color: $white;
   }

   &-close{
     position: absolute;
     right: 25rem;
     top: 25rem;
     cursor: pointer;
     width: 30rem;
     height: 30rem;
     &:before, &:after{
       position: absolute;
       content: '';
       top: 50%;
       left: 0;
       width: 100%;
       height: 2rem;
       background-color: #3B2B25;
     }
     &:before{
       transform: rotate(45deg);
     }
     &:after{
       transform: rotate(-45deg);
     }
     &:hover{
       &:before, &:after{
         background-color: $primary;
       }
     }
   }
   &-overlay{
     position: absolute;
     width: 80%;
     height: 80%;
     top: 10%;
     right: 10%;
     left: 10%;
     bottom: 10%;
     z-index: 1;
     backdrop-filter: blur(2rem);
     background-color:rgba($black, .8);
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
     transition: all ease 300ms;
   }

 }
 .popup-title{
   text-align: center;
   margin-bottom: 24rem;
   font: 700 24rem/24rem $OpenSans;
 }
.popup-team{
  display: flex;
  align-items: center;
  &__media{}
  &__desc{
    padding: 0 24rem;
    font-size: 16rem;
    li{
      margin-bottom: 8rem;
      font-size: 16rem;
    }
    a{
      color: $primary;
      &:hover{
        color: $primary-100;
      }
    }
  }
}
