.scientific{
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 40rem;
    margin-bottom: 32rem;
  }
  &-item{
    width: calc(50% - 20rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;
    background-color: $card;
    border-radius: 10rem;
    &__media{
      width: 266rem;
      img{
        width: 100%;
      }
    }
    &__desc{
      width: 100%;
      max-width: 446rem;
      padding: 24rem 32rem;
    }
    &__title{
      font:700 24rem/32rem $OpenSans;
      margin-bottom: 16rem;
    }
    &__text{
      font-size: 16rem;
      line-height: 24rem;
      margin-bottom: 16rem;
    }
    &__links{
      ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16rem;
      }
      a{
        font-size: 16rem;
        line-height: 24rem;
        color: $primary;
        &:hover{
          color: $primary-100;
        }
      }
    }
  }
  .link-section{
    text-align: center;
  }
}
.repository{
  &-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64rem;
    .title-block{
      padding-bottom: 18rem;
      margin-bottom: 24rem;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        left: 0;
        height: 6rem;
        width: 132rem;
        bottom: 0;
        border-radius: 40rem;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:nth-child(odd){
      flex-direction: row-reverse;
      .title-block{
        &:after{
          background-color: $secondary;
        }
      }
    }
    &:nth-child(even){
      flex-direction: row;
      .title-block{
        &:after{
          background-color: $primary-100;
        }
      }
    }
    &__desc{
      max-width: 625rem;
      width: 100%;
    }
    .text-section{
      margin-bottom: 24rem;
    }
    &__link{
      display: flex;
      align-items: center;
      gap: 16rem;
    }
    &__media{
      max-width: 719rem;
      width: 100%;
      height: 550rem;
      img{
        width: 100%;
      }
    }
  }
}
.project{
  &-wrap{
    display: flex;
    flex-wrap:wrap;
    gap: 40rem;
    margin-bottom: 48rem;
  }
  .item{
    width: 100%;
    max-width: calc(33.33333% - 28rem);
    &-text{
      color: #3A3A3F;
    }
    &-tag{
      color: #3A3A3F;
    }
  }

}
.news-page{
  .item{
    margin-bottom: 40rem;
  }
  .news-wrap{
    margin-bottom: 0;
  }
}